<!DOCTYPE html>
<html>
<head>
    <title>Inventory</title>
	<link href="./style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h1>Overview of batches by freshness</h1>
    <h2>Fresh batches:</h1>
    <table>
        <tr class="colname">
            <th id="product">Product</th>
            <th id="purchased">Purchased</th>
            <th id="exp_date">Expires</th>
            <th id="init_qty">Init qty</th>
            <th id="curr_qty">Curr qty</th>
        </tr>
        {% for batch in freshness.fresh %}
        <tr class="colname">
            <td id="product">{{batch.product.name}}</td>
            <td id="purchased">{{batch.pur_date}}</td>
            <td id="exp_date">{{batch.exp_date}}</td>
            <td id="init_qty">{{batch.init_qty}}</td>
            <td id="curr_qty">{{batch.curr_qty}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
